
/*------------------------------------------------------------------
[Table of contents]
#. Style Guide
1. Universal Styles
2. Header / branding, #navbar
3. Body / Box Content
4. Buttons
5. Footer
-------------------------------------------------------------------
# [Style Guide]

  # [Fonts]

    # [Body Font]
      # font-family: proxima-nova, sans-serif;
      # font-style: normal;
      # font-weight: 400;
    #
  #

  # [Color codes]
  # Black (Font, Borders, Button BGs) #000;
  # White (Body BG, Button-Font) #fff;
  # Sea Green (Links, tag-button BG) #2E8B57; 
#
-------------------------------------------------------------------*/


/*-----------------
1. UNIVERSAL STYLES
-----------------*/
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a{
text-decoration: none;
 color: #2E8B57;

}

ul{
  list-style: none;
}

.row{
  display: flex;
}

/*-----------------
2. Header
-----------------*/

header{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
  color: #333;
  margin-bottom: 3rem;
  top: 0;
  width: 100%;
}


.branding{
  align-items: center;
  height: 10rem;
  justify-content: center;     
}

.branding h1{
  font-size: 5rem;
}

nav{
  align-items: center;
  height: 3rem;
  justify-content: center;
}

.nav-list{ 
  justify-content: center;
}

.nav-list--item{
  margin-right: 5rem;
}

.nav-list--item:last-child{
  margin-right: 0;
}



/*-------------------
3. Body / Box Content
-------------------*/
.column{
  display: flex;
  flex-direction: column;
}

.column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

.box{
  margin-top: 0.5rem;
  margin-top: 0.5rem;
}

.grid-table{
  display: flex;                      
  flex-wrap: wrap;                   
  justify-content: flex-start;
  
}

.grid-table--item{
  margin-bottom: 3rem;
  margin-right: 3rem;
  
}
.section-header{
  size: 2.5rem;
  margin-bottom: 2rem;
}

.article-header{
  font-size:2.2rem;
}

.article-list, li{
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.article-summary{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.article-genre{
  margin-bottom: 1rem;
}

.justify{
  text-align: justify;
}

/* Larger display view is a 2 column grid with main content and a sidebar*/
@media(min-width: 751px){
  .two-column{
    display: grid;
    grid-column-gap: 5rem;
    grid-template-columns: 3fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 1rem;
    max-width: 1200px;
  }

  .sidebar{
    margin-right: 3rem;
    padding: 1rem;
  }
  
  .maincontent-box{
    margin-bottom: 2rem;
    margin-left: 3rem;
    max-width: 750px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #2E8B57;
  } 
  .maincontent-box:first-child{
    padding-bottom: 0;
    border-bottom: 0;

}

/* Smaller display view is a abandons grid view and sidebar*/
@media(max-width: 750px){
  
 

  .maincontent-box{   
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
  }
}

/*-----------------
4. Buttons
-----------------*/

.square-button {
  background-color: #000;;
  border: 1px #fff;
  color: #fff;
  height:40px;
  width:100px;
  cursor:pointer;
}

.square-button:hover {
   background-color: #444;
   color:white;
}

.tag-button {
  background-color: #2E8B57;
  border: none;
  color: #fff;
  font-size: 0.7rem;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

/*-----------------
5. Footer
-----------------*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E8B57;
  color: white;
  text-align: center;
}






