<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!--Header is divided into 2 sections. A large branding area above a navbar-->
    <header>
        <div class="row branding">
            <h1>LOGO</h1>
        </div>
        <nav id="navbar">
            <ul class="row nav-list">
                <li class="nav-list--item"><a href="/">HOME</a></li>
                <li class="nav-list--item"><a href="/posts">ALL POSTS</a></li>
                <li class="nav-list--item"><a href="/genres">GENRES</a></li>
                <li class="nav-list--item"><a href="/authors">AUTHORS</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!--Main is divided into 2 sections. A large area for main content, with a sidebar on the right-->

        <div class="two-column">
            <section id="articles" class="two-column-left">
                
                <form class ="box" th:action="|/posts/${post.id}|" method="POST">
                    <div th:object="${author}">
                            <select name="lastName">
                                <option value="0">Add an additional contributing author</option>
                                <option th:each="author : ${authors}" th:value="${author.lastName}" th:text="|${author.firstName} ${author.lastName}|">
                                Author</option>
                            </select>
                    <button class="square-button" type="submit">Submit</button>
                </form>
                <!--Article briefing box. Contains title, author, date, summary, genre, read-more-button-->
                <article class="maincontent-box">
                    <p>Post</p>
                    <h2 class="article-header" th:text="${post.postTitle}"></h2>
                    <ul class="row article-list">
                        <li th:each="author :${post.authors}"><a th:href="@{|/authors/${author.id}|}"
                                th:text="|${author.firstName} ${author.lastName}|"></a></li>
                        <li th:text="|published: ${post.date}|">Default Date></li>
                    </ul>
                    <p class="article-summary" th:utext="${post.postContent}">
                </article>
            </section>
            <!--end area for main content-->

            <section class="two-column-right">
                <div class="sidebar">
                    <h2>Tags</h2>
                    <ul>
                        <li>tag</li>
                        <li>tag</li>
                        <li>tag</li>
                        <li>tag</li>
                        <li>tag</li>
                    </ul>
                </div>

            </section>
        </div>
    </main>
</body>

</html>